<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <!-- 
    <module assemblyFile="modules/PrismTestModuleA/PrismTestModuleA.dll" moduleType="PrismTestModuleA.ModuleA, PrismTestModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleA" startupLoaded="true">
      <dependencies>
        <dependency moduleName="ModuleB"/>
      </dependencies>
    </module> 
    -->
  </modules>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>